section {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.game-container {
    width: ;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;

}

.line {
    width: 50px;
    height: 50px;
    border: solid 1px black;
}